@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Anton");

:root {
  --main-color: #2ddf5c;
  --bck-col: #fc3657;
}
* {
  box-sizing: border-box;
}

#product-overview {
  background: var(--bck-col);
  position: relative;
  top: -20px;
}

#product-overview h1 {
  color: white;
  font-family: Anton, sans-serif;
  position: absolute;
  bottom: 0;
}

.product-overview__image {
  width: 100vw;
  height: 600px;
  background: url("images/freedom.jpg") top 40% left 50% / cover local;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-clip: content-box;
  background-attachment: local;
  border: 2px dashed black; */
}

/* -------------------- Modal --------------------------------- */
.modal {
  background: rgba(255, 255, 255, 0.938);
  height: 40%;
  width: 60%;
  min-width: 15rem;
  position: fixed;
  border-radius: 8px;
  top: 30vh;
  left: 20%;
  z-index: 105;
  text-align: center;
  padding-top: 3rem;
  opacity: 0;
  transform: translateY(-3rem);
  transition: transform 500ms linear, opacity 300ms ease-in;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: none;
}
.modal-box {
  background: var(--main-color);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border: 1px solid var(--main-color);
}

.modal-box__no {
  background: red;
  cursor: pointer;
  border-color: red;
  font: inherit;
}

/* ---- Plans ------ */

.plan-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan {
  color: var(--bck-col);
  background: rgba(250, 224, 78, 0.925);
  text-align: center;
  vertical-align: top;
  width: 100%;
  height: 25rem;
}

.plan__highlighted {
  background: #ff1b1b;
  color: gold;
  height: 28rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.plan-header__badge {
  background: yellow;
  color: rgb(3, 107, 46);
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.5rem 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan-items {
  padding: 0;
  margin: 0;
}

.plan-items li {
  padding: 0.5rem 0;
  list-style: none;
}

.plan-button {
  background: var(--main-color);
  border: 1px solid rgba(250, 224, 78, 0.925);
  border-radius: 8px;
  color: rgb(250, 248, 248);
  font: inherit;
  padding: 0.2rem;
  cursor: pointer;
}

.plan-button:hover,
.plan-button:active {
  background: white;
  color: var(--main-color);
}

@media (min-width: 40rem) {
  .plan-list {
    flex-direction: row;
  }
  .plan {
    width: 30%;
    max-width: 19rem;
    min-width: 13.8rem;
  }
}

/* -------Key Feature ----------------- */

#key-features {
  padding-top: 1rem;
  background: var(--bck-col);
  margin-top: 8rem;
}

.key-features__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  font: inherit;
  font-size: 1.2rem;
  vertical-align: top;
  padding: 0;
}
.key-features__item {
  height: 16rem;
  margin-top: auto;
  width: 30%;
  text-align: center;
  line-height: 3rem;
}
.key-features__image {
  border: 2px solid var(--main-color);
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background: gold;
  margin: auto;
}

@media (min-width: 40rem) {
  .key-features__items {
    flex-flow: row nowrap;
  }
}
