.gow {
  background: radial-gradient(
      rgba(192, 163, 0, 0.548),
      rgba(238, 238, 238, 0.726)
    ),
    url("../images/713913.jpg") center / cover;
  filter: contrast(250%) brightness(103%);
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  transform: translateY(-10px);
}

.plans {
  display: flex;
  flex-flow: column nowrap;
}

.plan:hover,
.plan:active {
  border: 3px solid yellow;
  border-left: none;
}

#free {
  align-self: flex-end;
  border-left: 2px solid black;
  border-right: none;
}

#free:hover,
#free:active {
  border-left: 3px solid yellow;
}

.plan {
  background: var(--back-color);
  border: 2px solid black;
  border-left: none;
  padding: 2rem 1rem;
  margin-top: 5rem;
  width: 80%;
}

.plan:hover,
.plan:active {
  animation: pull-up 300ms linear forwards;
}

.plan a {
  text-decoration: none;
  color: var(--main-color);
}

.plan-info {
  background: var(--nav-font);
  border: 1px solid black;
  padding: 1rem;
  color: black;
}

@media (min-width: 40rem) {
  main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 890px) {
  .plan {
    border: 2px solid black;
  }

  #free {
    border-right: 2px solid black;
  }

  .plan:hover,
  .plan:active {
    border-left: 3px solid yellow;
  }

  #free:hover,
  #free:active {
    border-right: 3px solid yellow;
  }
}

@keyframes pull-up {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(-2rem);
  }
}
